<%= form_with(model: demand) do |form| %>
  <% if demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
        <% demand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="hidden-field">
    <%= form.hidden_field  :offer_id, value: @offer %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :response_assign_id %>    
    <%= form.select :response_assign_id, @assign_options.pluck(:id)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h1>Cheat Sheet de Mis horarios</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>HORARIO</th>
    </tr>
  </thead>
  <tbody>
    <% @assigns.each do |assign| %>
      <tr>
        <td><%= assign.id %></td>
        <td><%= assign.block %></td>
      </tr>
    <% end %>
  </tbody>
</table>



