<h1>Mis horarios!!</h1>

<table>
  <thead>
    <tr>
      <th>Día / Fecha</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigns.each do |assign| %>
      <tr>
        <td><%= assign.block %></td>
        <td><%= assign.status %></td>
        <td><%= link_to 'Hacer una oferta!',  new_offer_path(assign_id: assign.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Mis Ofertas</h1>

<table>
  <thead>
    <tr>
      <th>Horario</th>
      <th>Mensaje</th>
      <th>Estado</th>
      <th colspan="3"></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.assign_id %></td>
        <td><%= offer.message %></td>
        <td><%= offer.status %></td>
        <td><%= link_to 'VER', offer_path(offer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>