<p id="notice"><%= notice %></p>

<h1>Assigns</h1>

<table>
  <thead>
    <tr>
      <th>Block</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assigns.each do |assign| %>
      <tr>
        <td><%= assign.block %></td>
        <td><%= assign.status %></td>
        <td><%= link_to 'Show', assign %></td>
        <td><%= link_to 'Add Offer',  new_offer_path(assign_id: assign.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assign', new_assign_path %>
