<p id="notice"><%= notice %></p>

<p>
  <strong>Assign:</strong>
  <%= @offer.assign_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @offer.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Response assign</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demands.each do |demand| %>
      <tr>
         
        <td><%= demand.message %></td>
        
        <td><%= Assign.find(demand.response_assign_id.to_i).block %></td>
        <td><%= link_to 'Show', demand %></td>
        <td><%= link_to 'Edit', edit_demand_path(demand) %></td>
        <td><%= link_to 'Destroy', demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
