<div class="text-black mb-3 mb-md-0 p-2 bd-highlight">
  <h1>Propuestas para el horario:  <%=Assign.find(@offer.assign_id).block %></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="table-info">Mensaje Proponente</th>
      <th class="table-info">Horario Propuesto</th>
      <th class="table-info" colspan="3"></th>
      <th class="table-info" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <% @demands.each do |demand| %>
        <td><%= demand.message %></td>  
        <td><%= Assign.find(demand.response_assign_id.to_i).block %></td>
        <td><td><button type="button" class="btn btn-success"><%= link_to 'ACEPTAR', demand, method: "Patch" %><i class="fa-solid fa-eye"></i></button></td>
        <td><td><button type="button" class="btn btn-danger"><%= link_to 'RECHAZAR', demand, method:"Delete" %><i class="fa-solid fa-eye"></i></button></td>      
      <% end %>
      </tr>
  </tbody>
</table>
